@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sr-only {
        position:relative; 
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        z-index: 999;
        /* color: #fff; */
        text-align: left !important;
    }
    .progress-bar
    {
        text-align:left;
        padding-left: 5%;
        line-height: 25px;
    }
    .progress
    {
        height:25px;
        border-radius: 0px;
        background-color: #dbdbdb;
    }
</style>
<div class="content container">
            <div id="promo-slider" class="slider flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Content/assets/images/slides/slide-1.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Join Meet Corporations</span>
                            <br />
                            <span class="secondary clearfix">Choose from over 100 online and offline courses</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/assets/images/slides/slide-2.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Come to our Open Days</span>
                            <br />
                            <span class="secondary clearfix">Donec accumsan nunc sed ipsum dapibus consectetur</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/assets/images/slides/slide-3.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Discover online courses</span>
                            <br />
                            <span class="secondary clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/assets/images/slides/slide-4.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Nam ultricies accumsan pellentesque</span>
                            <br />
                            <span class="secondary clearfix">In justo orci, ornare vitae nulla sed, suscipit suscipit augue</span>
                        </p>
                    </li>
                </ul>
                <!--//slides-->
            </div>
            <!--//flexslider-->
            <section class="promo box box-dark">
                <div class="col-md-9">
                    <h1 class="section-heading">About me</h1>
                    <p>“MEET CORPORATIONS” is a Part of One Company for “DHRUVANSHI GROUP” & This Group is Established in 1992.</p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-cta" href="@Url.Action("Index","About")">Read More <i class="fa fa-chevron-right"></i></a>
                </div>
            </section>
            <!--//promo-->
            <section class="news">
                <h1 class="section-heading text-highlight"><span class="line">Products</span></h1>
                <div class="carousel-controls">
                    <a class="prev" href="#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                    <a class="next" href="#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                </div>
                <!--//carousel-controls-->
                <div class="section-content clearfix">
                    <div id="news-carousel" class="news-carousel carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-4 news-item">
                                    <h2 class="title"><a href="#">Infrastructure</a></h2>
                                    <img class="thumb" src="~/Content/New_Images/infrastructure.jpg" alt="" />
                                    <p>Suspendisse purus felis, porttitor quis sollicitudin sit amet, elementum et tortor. Praesent lacinia magna in malesuada vestibulum. Pellentesque urna libero.</p>
                                    <a class="read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                                <!--//news-item-->
                                <div class="col-md-4 news-item">
                                    <h2 class="title"><a href="#">Construction</a></h2>
                                    <p>Nam feugiat erat vel neque mollis, non vulputate erat aliquet. Maecenas ac leo porttitor, semper risus condimentum, cursus elit. Vivamus vitae libero tellus.</p>
                                    <a class="read-more" href="#">Read more<i class="fa fa-chevron-right"></i></a>
                                    <img class="thumb" src="~/Content/New_Images/construction.jpg" alt="" />
                                </div>
                                <!--//news-item-->
                                <div class="col-md-4 news-item">
                                    <h2 class="title"><a href="#">All kind of paper</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum mauris eget sapien consectetur pellentesque. Proin elementum tristique euismod. </p>
                                    <a class="read-more" href="#">Read more<i class="fa fa-chevron-right"></i></a>
                                    <img class="thumb" src="~/Content/New_Images/all-paper.jpg" alt="" />
                                </div>
                                <!--//news-item-->
                            </div>
                            <!--//item-->
                            <div class="item">
                                <div class="col-md-4 news-item">
                                    <h2 class="title"><a href="#">steel</a></h2>
                                    <img class="thumb" src="~/Content/New_Images/steel-products.jpg" alt="" />
                                    <p>Suspendisse purus felis, porttitor quis sollicitudin sit amet, elementum et tortor. Praesent lacinia magna in malesuada vestibulum. Pellentesque urna libero.</p>
                                    <a class="read-more" href="#">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                                <!--//news-item-->
                                <div class="col-md-4 news-item">
                                    <h2 class="title"><a href="#">Textile Machinery</a></h2>
                                    <p>Nam feugiat erat vel neque mollis, non vulputate erat aliquet. Maecenas ac leo porttitor, semper risus condimentum, cursus elit. Vivamus vitae libero tellus.</p>
                                    <a class="read-more" href="#">Read more<i class="fa fa-chevron-right"></i></a>
                                    <img class="thumb" src="~/Content/New_Images/textile-machinery.jpg" alt="" />
                                </div>
                                <!--//news-item-->
                                <div class="col-md-4 news-item">
                                    <h2 class="title"><a href="#">Construction Machinery</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum mauris eget sapien consectetur pellentesque. Proin elementum tristique euismod. </p>
                                    <a class="read-more" href="#">Read more<i class="fa fa-chevron-right"></i></a>
                                    <img class="thumb" src="~/Content/New_Images/construction-machinery.jpg" alt="" />
                                </div>
                                <!--//news-item-->
                            </div>
                            <!--//item-->
                        </div>
                        <!--//carousel-inner-->
                    </div>
                    <!--//news-carousel-->
                </div>
                <!--//section-content-->
            </section>
            <!--//news-->
            <div class="row cols-wrapper">
                <div class="col-md-3">
                    <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">We Are Good At</span></h1>
                        <div class="section-content">
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">Marketing</span>
                                </div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">Manufacturer</span>
                                </div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                    <span class="sr-only">Timing</span>
                                </div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                    <span class="sr-only">Contating</span>
                                </div>
                            </div>
                        </div>
                        <!--//section-content-->
                    </section>
                    <!--//events-->
                    <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">Contact Us</span></h1>
                        <div class="section-content">
                            <article class="news-item">
                                <p class="featured-image">
                                    <img class="img-responsive img-thumbnail" src="~/Content/New_Images/Meet_Corporation_Map.jpg" />
                                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3719.387247468198!2d72.86188956493578!3d21.216487285896964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x3be04f106d964481%3A0xc96a722d2498f972!2s2%2F3%2C+Varachha+Rd%2C+Vaibhav+Complex%2C+Hirabag+Circle%2C+Hirabaugh%2C+Surat%2C+Gujarat+395006%2C+India!3m2!1d21.216575799999998!2d72.8641863!4m5!1s0x3be04f1072ddffad%3A0xe1b2b03a610738f6!2sMEET+CORPORATIONS%2C+S-7+Shreeji+Complex%2C+Near+Hirabag%2C+Varachha+Road%2C%2C+Surat%2C+Gujarat+395006%2C+India!3m2!1d21.216399!2d72.863941!5e0!3m2!1sen!2sin!4v1488986626274" width="230" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                                </p>
                                <ul class="custom-list-style" style="padding-left: 0px !important;line-height: 30px;">
                                    <li><i class="fa fa-phone"></i><b>Phone</b>  : 0091-261-3192936</li>
                                    <li><i class="fa fa-phone"></i><b>Mob</b>: 0091-9712302936</li>
                                    <li><i class="fa fa-envelope"></i>info@meetcorporations.com</li>
                                    <li><i class="fa fa-envelope"></i>meetcorporations@hotmail.com</li>
                                    <li><a class="read-more" href="@Url.Action("Index","ContactUs")">Read more<i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                                
                            </article>
                        </div>
                        <!--//section-content-->
                    </section>
                </div>
                <!--//col-md-3-->
                <div class="col-md-6">
                    <section class="video">
                        <h1 class="section-heading text-highlight"><span class="line">Featured Products</span></h1>
                        <div class="section-content">
                            <a class="prettyphoto col-md-6 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title=".." href="~/Content/New_Images/F1.jpg">
                                <img class="img-responsive img-thumbnail" src="~/Content/New_Images/F1.jpg" alt="" /></a>
                            <a class="prettyphoto col-md-6 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/New_Images/F2.jpg">
                                <img class="img-responsive img-thumbnail" src="~/Content/New_Images/F2.jpg" alt="" /></a>
                            <a class="prettyphoto col-md-6 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/New_Images/F3.jpg">
                                <img class="img-responsive img-thumbnail" src="~/Content/New_Images/F5.jpg" alt="" /></a>
                            <a class="prettyphoto col-md-6 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/New_Images/F4.jpg">
                                <img class="img-responsive img-thumbnail" src="~/Content/New_Images/F4.jpg" alt="" /></a>
                            <a class="prettyphoto col-md-6 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/New_Images/F5.jpg">
                                <img class="img-responsive img-thumbnail" src="~/Content/New_Images/F5.jpg" alt="" /></a>
                            <a class="prettyphoto col-md-6 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/New_Images/F1.jpg">
                                <img class="img-responsive img-thumbnail" src="~/Content/New_Images/F1.jpg" alt="" /></a>
                        </div>
                    </section>
                    <!--//video-->
                </div>
                <div class="col-md-3">
                    <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                        <div class="section-content">
                            <p><a href="@Url.Action("","")"><i class="fa fa-caret-right"></i>Our Products</a></p>
                            <p><a href="@Url.Action("Index","Gallery")"><i class="fa fa-caret-right"></i>Gallery</a></p>
                            <p><a href="@Url.Action("Index","Inquiry")"><i class="fa fa-caret-right"></i>Inquiry</a></p>
                            <p><a href="@Url.Action("Index","ContactUs")"><i class="fa fa-caret-right"></i>Contact Us</a></p>
                        </div>
                        <!--//section-content-->
                    </section>
                    <!--//links-->
                    <section class="testimonials">
                        <h1 class="section-heading text-highlight"><span class="line">What Clients Say</span></h1>
                        <div class="carousel-controls">
                            <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                            <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                        </div>
                        <!--//carousel-controls-->
                        <div class="section-content">
                            <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <blockquote class="quote">
                                            <p><i class="fa fa-quote-left"></i>I’m very happy interdum eget ipsum. Nunc pulvinar ut nulla eget sollicitudin. In hac habitasse platea dictumst. Integer mattis varius ipsum, posuere posuere est porta vel. Integer metus ligula, blandit ut fermentum a, rhoncus in ligula. Duis luctus.</p>
                                        </blockquote>
                                        <div class="row">
                                            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Marissa Spencer</span><br />
                                                <span class="title">Curabitur commodo</span></p>
                                            <img class="profile col-md-4 pull-right" src="~/Content/assets/images/testimonials/profile-1.png" alt="" />
                                        </div>
                                    </div>
                                    <!--//item-->
                                    <div class="item">
                                        <blockquote class="quote">
                                            <p>
                                                <i class="fa fa-quote-left"></i>
                                                I'm very pleased commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.
                                            </p>
                                        </blockquote>
                                        <div class="row">
                                            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Marco Antonio</span><br />
                                                <span class="title">Gravida ultrices</span></p>
                                            <img class="profile col-md-4 pull-right" src="~/Content/assets/images/testimonials/profile-2.png" alt="" />
                                        </div>
                                    </div>
                                    <!--//item-->
                                    <div class="item">
                                        <blockquote class="quote">
                                            <p>
                                                <i class="fa fa-quote-left"></i>
                                                I'm delighted commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.
                                            </p>
                                        </blockquote>
                                        <div class="row">
                                            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Kate White</span><br />
                                                <span class="title">Gravida ultrices</span></p>
                                            <img class="profile col-md-4 pull-right" src="~/Content/assets/images/testimonials/profile-3.png" alt="" />
                                        </div>
                                    </div>
                                    <!--//item-->

                                </div>
                                <!--//carousel-inner-->
                            </div>
                            <!--//testimonials-carousel-->
                        </div>
                        <!--//section-content-->
                    </section>
                    <!--//testimonials-->
                </div>
                <!--//col-md-3-->
            </div>
            <!--//cols-wrapper-->
            @*<section class="awards">
                <div id="awards-carousel" class="awards-carousel carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="logos">
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Content/assets/images/awards/award1.jpg" alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Content/assets/images/awards/award2.jpg" alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Content/assets/images/awards/award3.jpg" alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Content/assets/images/awards/award4.jpg" alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Content/assets/images/awards/award5.jpg" alt="" /></a>
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Content/assets/images/awards/award6.jpg" alt="" /></a>
                                </li>
                            </ul>
                            <!--//slides-->
                        </div>
                        <!--//item-->

                        <div class="item">
                            <ul class="logos">
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="~/Content/assets/images/awards/award7.jpg" alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="~/Content/assets/images/awards/award6.jpg" alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="~/Content/assets/images/awards/award5.jpg" alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="~/Content/assets/images/awards/award4.jpg" alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="~/Content/assets/images/awards/award3.jpg" alt="" />
                                </li>
                                <li class="col-md-2 col-sm-2 col-xs-4">
                                    <img class="img-responsive" src="~/Content/assets/images/awards/award2.jpg" alt="" />
                                </li>
                            </ul>
                            <!--//slides-->
                        </div>
                        <!--//item-->
                    </div>
                    <!--//carousel-inner-->
                    <a class="left carousel-control" href="#awards-carousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#awards-carousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>

                </div>
            </section>*@
        </div>
<script src="~/Content/assets/plugins/jquery-1.12.3.min.js"></script>
<script>
    $(function () {
        $("body").addClass("home-page");
    });
</script>